[submodule "ProtocolBuffer"]
	path = ProtocolBuffer
	url = git@github.com:denizzzka/ProtocolBuffer.git
[submodule "SFML2_wrapper"]
	path = SFML2_wrapper
	url = git@github.com:denizzzka/SFML2_wrapper.git
[submodule "DSFML"]
	path = DSFML
	url = git@github.com:denizzzka/DSFML.git

